name: "py-cml: Publish to PyPI"
on:
  push:
    tags:
      - "py-cml-v*"

permissions:
  id-token: write

jobs:
  publish:
    name: Build and publish
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/py-cml/
    defaults:
      run:
        working-directory: packages/py-cml
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: pip install build
      - run: python -m build
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: packages/py-cml/dist/
